---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro'

const title = "Nkymko's Website."
---

<Layout title={title}>
	<div id="bg-gradient">
        <div class="gradient" id="g-1" style="opacity: 1;"></div>
        <div class="gradient" id="g-2" style="opacity: 0;"></div>
        <div class="gradient" id="g-3" style="opacity: 0;"></div>
    </div>

    <Nav />

    <main class="container mx-auto max-w-4xl">
                <section id="introduction" class="mb-52 mx-auto py-5 px-2 mt-32 max-[768px]:mt-10">
					<div class="flex flex-wrap">
						<div class="basis-3/4 py-2 border-t-[1px] border-t-[#dedede] max-[768px]:border-0">
                            <h1 class="text-6xl mt-8 mb-16 max-[768px]:text-4xl max-[768px]:mb-8 max-[768px]:leading-10">Hi, I'm <span class="font-bold underline">Nicky</span>! <br> I'm a Junior Website Developer</h1>
							<div id="btn-grp" class="flex flex-wrap gap-2">
								<a href="#" class="py-4 px-5 border border-sky-600 text-sm hover:bg-sky-600 transition ease-in-out duration-300">Check out my resume</a>
								<a href="#" class="py-4 px-5 border border-sky-600 bg-sky-600 text-sm hover:bg-sky-800 hover:border-sky-800 transition ease-in-out duration-300">Contact Info</a>
							</div>
                        </div>
					</div>
                </section>
        
                <section id="about" class="mx-auto py-5 px-2 mt-16 max-[768px]:mt-10">
                        <div class="py-2 mt-4 max-[768px]:border-0 max-[768px]:mt-0">
                            <div class="flex flex-wrap gap-5 justify-between py-7 max-[768px]:px-5">
                                <div class="basis-1/3 max-[768px]:basis-full">
                                    <img src="/pict.png" alt="my pict">
                                </div>
                                <div class="basis-[60%] max-[768px]:basis-full max-[768px]:py-2">
                                    <p class="text-xs font-thin">
                                        Very enthusiastic about Web Programming and UI/UX Design. Possess knowledge and skills in software development, including the implementation of HTML, CSS, Javascript, and PHP during professional internships. Additionally, I understand the importance of UI/UX Design in creating a positive user experience.</p>
                                </div>
                            </div>
                        </div>
                </section>
    </main>
</Layout>

<script>
	import '../scripts/scroll.js';
</script>