<nav id="navbar" class="mx-auto top-0 transition ease-in-out duration-1000">
    <div class="max-w-5xl flex flex-wrap content-between mx-auto py-6 px-2 max-[768px]:px-10">
        <div class="nav-brand basis-1/2">
            <h4 class="text-lg">nkymko._</h4>
        </div>
        <div class="nav-menu basis-1/2">
            <ul class="float-end inline-flex gap-10">
                <li>
                    <a href="#">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>